.card {
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    width: 19%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}

.answeredCard {
    background-color: #808080;
    border: 3px solid black;
    cursor: not-allowed;
    box-sizing: border-box;
}

.notAnsweredBlueCard {
    background-color: #2d5bb9;
    border: 3px solid #99b3e6;
    box-sizing: border-box;
}

.notAnsweredRedCard {
    background-color: #ff0066;
    border: 3px solid #990033;
    box-sizing: border-box;
}

.card-row {
    margin-left: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 700px) {
    .card {
        font-size: 1.2em;
    }
}
