.card {
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    margin: 8px 19px;
    border-radius: 10px;
    width: 17%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}

.answeredCard {
    background-color: #808080;
    border: 3px solid black;
    cursor: not-allowed;
}

.notAnsweredCard {
    background-color: #2d5bb9;
    border: 3px solid #99b3e6;
}

