.card {
    display: flex;
    /* height: 4em; */
    flex: 1;
    justify-content: center;
    align-items: center;
    /* font-weight: lighter; */
    /* font-size: 1.4em; */
    color: white;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.answeredCard {
    background-color: #808080;
    border: 3px solid black;
}

.notAnsweredCard {
    background-color: #ff0066;
    border: 3px solid #990033;
}