.Modal {
    position: fixed;
    z-index: 500;
    background-color: #600080;
    width: 70%;
    /* border: 4px solid #ffff00; */
    /* box-shadow: 1px 1px 1px black; */
    padding: 16px;
    left: 15%;
    top: 30%;
    border-radius: 15px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    box-shadow: 10px 10px 50px 2px rgba(0,0,0,0.79);
    -webkit-box-shadow: 10px 10px 50px 2px rgba(0,0,0,0.79);
    -moz-box-shadow: 10px 10px 50px 2px rgba(0,0,0,0.79);
}

.closeButton {
    display: inline-block;
    height: 40px;
    width: 100px;
    background-color: yellow;
    border-radius: 20px;
    border: none;
}