@font-face {
  font-family: 'Toony Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Toony Medium'), url('Toony.woff') format('woff'); 
}

@font-face {
  font-family: 'Amatic SC Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Amatic SC Regular'), url('AmaticSC-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Amatic SC Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Amatic SC Bold'), url('AmaticSC-Bold.woff') format('woff');
}

body, html {
  font-family: 'Amatic SC Bold';
  font-size: 1.4em;
}

h1 {
  font-family: 'Toony Medium';
  font-size: 2em;
  color: white;
  padding: 3px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: auto;
}

.App {
  text-align: center;
  background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.customRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.customColumn {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* position: relative; */
}
