@font-face {
  font-family: 'Toony Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Toony Medium'), url('Toony.woff') format('woff'); 
}

@font-face {
  font-family: 'Amatic SC Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Amatic SC Regular'), url('AmaticSC-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Amatic SC Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Amatic SC Bold'), url('AmaticSC-Bold.woff') format('woff');
}

body, html {
  font-family: 'Amatic SC Bold';
  font-size: 1.4em;
}

body {
  width: 100%;
  margin: auto;
}

h1 {
  font-family: 'Toony Medium';
  font-size: 2em;
  color: white;
  padding: 3px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: auto;
  text-align: center;
}

.container-fluid {
  background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  height: 100vh;
  width: 99vw;
  margin: auto;
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.cards {
  width: 100%;
  margin: auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}